<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <AccelaConfig>
    <RequestStrings>

      <!-- Authentication -->
      <Authentication>
        <TokenRequest>client_id={appId}&amp;client_secret={appSecret}&amp;grant_type=password&amp;username={username}&amp;password={password}&amp;environment={env}&amp;scope={scope}&amp;agency_name=SANDIEGO</TokenRequest>
        <AuthenticationRequest>{authUrl}?client_id={appId}&amp;redirect_uri={redirectURI}&amp;scope={scope}&amp;response_type=code</AuthenticationRequest>
        <CodeExchangeRequest>grant_type=authorization_code&amp;client_id={appId}&amp;client_secret={appSecret}&amp;redirect_uri={redirectURI}&amp;code={code}</CodeExchangeRequest>
        <GetUserProfile>/users/me</GetUserProfile>
      
      </Authentication>
      
      <!-- Records -->
      <Records>
        
        <!-- Create -->
        <CreateRecord>/records</CreateRecord>
        <CreatePartialRecord>/records/initialize</CreatePartialRecord>
        <CreateFinalRecord>/records/{recordId}/finalize</CreateFinalRecord>

        <!-- Read -->
        <GetRecords>/records?limit={limit}&amp;offset={offset}</GetRecords>
        <GetMyRecords>/records/mine?limit={limit}&amp;offset={offset}</GetMyRecords>
        <GetRecord>/records/{recordIds}</GetRecord>
        <GetRecordByCustomId>/records?customId={customId}</GetRecordByCustomId>
        <SearchRecords>/search/records?offset={offset}&amp;limit={limit}</SearchRecords>

        <!-- Update -->
        <UpdateRecord>/records/{recordId}</UpdateRecord>

        <!-- Delete -->
        <DeleteRecord>/records/{recordIds}</DeleteRecord>

        <!-- Utility -->
        <GetRecordStatuses>/settings/records/types/{id}/statuses</GetRecordStatuses>
        <DescribeRecordTypes>/system/record/types?offset={offset}&amp;limit={limit}</DescribeRecordTypes>

        <!-- Record CustomFields -->
        <GetRecordCustomFields>/records/{recordIds}/customForms</GetRecordCustomFields>
        <UpdateRecordCustomFields>/records/{recordId}/customForms</UpdateRecordCustomFields>
        <DescribeCustomFields>/records/{recordId}/customForms/meta</DescribeCustomFields>
        <!-- Record CustomTables -->
        <GetRecordCustomTables>/records/{recordIds}/customTables</GetRecordCustomTables>
        <UpdateRecordCustomTables>/records/{recordIds}/customTables</UpdateRecordCustomTables>
        <!-- Record Fees -->
        <GetRecordFees>/records/{recordId}/fees</GetRecordFees>
        <GetRecordFeeSchedule>/settings/records/types/{id}/fees/schedules</GetRecordFeeSchedule>
        <!-- Records Related-->
        <GetRelatedRecords>/records/{recordId}/related</GetRelatedRecords>
        <!-- Record Addresses -->
        <GetRecordAddresses>/records/{recordIds}/addresses?offset={offset}&amp;limit={limit}</GetRecordAddresses>
        <CreateRecordAddress>/records/{recordId}/addresses</CreateRecordAddress>
        <UpdateRecordAddress>/records/{recordId}/addresses/{id}</UpdateRecordAddress>
        <!-- Record Contacts -->
        <GetRecordContacts>/records/{recordIds}/contacts?offset={offset}&amp;limit={limit}</GetRecordContacts>
        <GetContactTypes>/settings/contacts/types</GetContactTypes>
        <SearchContact>/search/contacts?limit={limit}&amp;offset={offset}</SearchContact>
        <CreateRecordContact>/records/{recordId}/contacts</CreateRecordContact>
        <UpdateRecordContact>/records/{recordId}/contacts/{id}</UpdateRecordContact>
        <DeleteRecordContact>/records/{recordId}/contacts/{ids}</DeleteRecordContact>
        <!-- Record Documents -->
        <DeleteRecordDocument>/records/{recordId}/documents/{documentIds}</DeleteRecordDocument>
        <CreateRecordDocument>/records/{recordId}/documents</CreateRecordDocument>
        <GetRecordDocuments>/records/{recordId}/documents</GetRecordDocuments>
        <GetRecordDocumentTypes>/records/{recordId}/documentTypes</GetRecordDocumentTypes>
        <!-- Record Workflows -->
        <GetWorkflowTasks>/records/{recordId}/workflowTasks</GetWorkflowTasks>
        <GetWorkflowTask>/records/{recordId}/workflowTasks/{id}</GetWorkflowTask>
        <UpdateWorkflowTask>/records/{recordId}/workflowTasks/{id}</UpdateWorkflowTask>
        <!-- Record default Inspections -->
        <GetDefaultInspTypes>/records/{recordId}/InspectionTypes</GetDefaultInspTypes>
      </Records>

      <!-- Documents -->
      <Documents>
        
        <GetDocument>/documents/{documentIds}</GetDocument>
        <DownloadDocument>/documents/{documentId}/download</DownloadDocument>

      </Documents>

      <!-- Agencies -->
      <Agencies>

        <GetAgencies>/agencies</GetAgencies>
        <GetAgency>/agencies/{name}</GetAgency>
        <GetAgencyLogo>/agencies/{name}/logo</GetAgencyLogo>
        <GetStaff>/settings/departments/{id}/staffs</GetStaff>

        <!-- Environment -->
        <Environment>
          <!-- Gets the status of the specified agency environment -->
          <GetAgencyEnvironmentStatus>/agencies/{name}/environments/{env}/status</GetAgencyEnvironmentStatus>
        </Environment>

      </Agencies>

      <!-- Address -->
      <Address>
        
        <GetCountries>/settings/addresses/countries</GetCountries>
        <GetStates>/settings/addresses/states</GetStates>
      
      </Address>

      <!-- Payments -->
      <Payments>
        
        <Payment>/payments</Payment>
        <GetFeeScheule>/settings/fees?schedule={scheduleId}</GetFeeScheule>
        <VoidPayment>/payments/{paymentId}/void</VoidPayment>
        <GetETransactionInfo>/search/generic/GETETRANSACTIONINFO</GetETransactionInfo>
        <ProcessRemittance>/scripts/UPDATE_PAYMENT_REMITTANCE</ProcessRemittance>
      
      </Payments>

      <!-- Inspections -->
      <Inspections>
        <!-- Get InspectionDetails (IVR Number and Categories) -->
        <GetInspectionInfoIVR>/search/generic/GETINSPECTIONINFO</GetInspectionInfoIVR>
        <!-- Get InspectionByRecordId -->
        <GetInspectionsByRecordId>/records/{recordId}/inspections?limit=10000</GetInspectionsByRecordId>
        <!-- Get Inspection by InspId -->
        <GetInspection>/inspections/{ids}</GetInspection>
        <!-- Get Inspection Checklists -->
        <GetInspectionChecklists>/inspections/{inspectionId}/checklists</GetInspectionChecklists>
        <GetInspectionChecklistItems>/inspections/{inspectionId}/checklists/{checklistId}/checklistItems</GetInspectionChecklistItems>
        
        <!-- Schedule Pending Inspection -->
        <SchedulePendingInspection>/inspections/{inspectionId}/schedule</SchedulePendingInspection>
        
        <!-- Schedule Inspection -->
        <ScheduleInspection>/inspections/schedule</ScheduleInspection>
        
        <!-- Cancel Inspection -->
        <CancelInspection>/inspections/{inspectionId}/cancel</CancelInspection>
        
        <!-- Get All Available Dates for Inspection -->
        <GetInspectionAvailableDates>/inspections/availableDates?recordId={recordId}&amp;typeId={inspTypeId}&amp;startDate={startDate}&amp;limit=90&amp;validateCutOffTime=true&amp;validateScheduleNumOfDays=true</GetInspectionAvailableDates>
        
        <!-- Get listInspectionResults -->
        

      </Inspections>
      
    </RequestStrings>

    <RequestHelpers>
      <CodeString>code=</CodeString>
      <ContentType>application/json</ContentType>
      <Accept>application/json</Accept>
      <HAppId>x-accela-appid</HAppId>
      <HAppSecret>x-accela-secret</HAppSecret>
      <HAgency>x-accela-agency</HAgency>
      <HEnv>x-accela-environment</HEnv>
      <HResponseError>x-accela-resp-message</HResponseError>
      <HTraceId>x-accela-traceId</HTraceId>
    </RequestHelpers>
    
  </AccelaConfig>
</configuration>
